header{
    background-color: #2f2f2f;
    line-height: 100px;
    text-align: center;
    a{
        color: white;
        font-size: 2em;
        margin-right: 1em;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}